/* CSS - UNIVERSAL SELECTOR */

* {
  box-sizing: border-box; /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height */
  margin: 0;
  }


/* CSS - STYLING THE HTML NAV ELEMENT */

.navbar {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* CSS - STYLING THE HTML FOOTER ELEMENT */

footer {
  display: flex;
  text-align: center;
  background-color:#F4F1F9;
  padding: 1.5rem;
  color: black;
}

/* CSS - STYLING HTML CLASSES */

.section_1 {
  background-color:#CED6EB;
  display: flex; /* This property turns the element into a flex container, allowing its direct children (flex items) to be arranged according to the rules of the flexbox model. */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.section_2 {
  background-color:#DEEFF8;
  display: flex; /* This property turns the element into a flex container, allowing its direct children (flex items) to be arranged according to the rules of the flexbox model. */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
   
}


.image-container {
  display: flex;  /* Flexbox for horizontal layout */
  justify-content: center;  /* Center the images */
  gap: 1rem;  /* Add some space between images */
  margin-top: 3rem;
  margin-bottom: 3rem;
}

footer {
  text-align: center;
  background-color: rgb(190, 190, 190);
  padding: 1.5rem;
  display: flex;
  justify-content: center; 
  }

  .footer-content {
    padding: 1.5rem;
    background: rgb(63, 94, 251);
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(252, 70, 107, 1) 100%
    );
    text-align: center;
  }